.widget-card {
  width: 100%;
  padding-bottom: 12px;

  .widget-container {
    width: 100%;
    height: 154px;
    border-radius: 4px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
    color: var(--neutral-color-lightest);
  }

  .widget-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-top: 16px;
    gap: 8px;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    font: var(--body-m-font);
    background-color: transparent;
    cursor: pointer;

    .widget-icon {
      width: 12px;
      height: 12px;
      background-color: var(--secondary-color);
      border-radius: 100%;
    }
  }
}
