.card {
  background-color: var(--tertiary-color);
  border-radius: 4px;
  width: 700px;
  height: 600px;
  font-family: "Roboto", sans-serif;

  .category {
    background-color: var(--neutral-color);
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    font-size: 17.6px;
    font-weight: 700;
    line-height: 20px;

    .sub-category {
      display: flex;
    }
  }

  .head {
    height: 116px;
    border-bottom: 2px solid var(--neutral-color);
    display: flex;
    padding: 10px 20px;
  }

  p {
    padding: 10px 20px;
  }
}
