.sidebar {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;

  .logo-desktop {
    width: 163px;
    padding: 40px 20px;
    margin: 0 auto;
  }

  .logo-mobile {
    width: 137px;
  }

  .sidebar-mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .sidebar-mobile-icon-container {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      .sidebar-mobile-icon {
        width: 16px;
        height: 16px;
        background-color: var(--neutral-color);
        border-radius: 100%;
      }
    }
  }

  .side-nav {
    justify-self: start;
    padding-left: 20px;
    padding-top: 40px;

    .side-menu {
      list-style: none;
      color: var(--neutral-color-lightest);

      .link-menu {
        padding: 8px 0;
      }
    }
  }
}
