:root {
  --primary-color: #242d38;
  --secondary-color: #304c70;
  --tertiary-color: #7598c4;
  --accent-color: #e4871b;
  --neutral-color: #ececf1;
  --neutral-color-lightest: #ffffff;
  --neutral-color-light: #DDDEDF;
  --neutral-color-medium: #8c8d91;
  --neutral-color-dark: #49494f;
  --success-color: #338473;
  --error-color: #d25746;
  --heading-l-font: 700 22.4px "Roboto", sans-serif;
  --heading-m-font: 700 17.6px "Roboto", sans-serif;
  --heading-s-font: 700 16px "Roboto", sans-serif;
  --body-l-font: 300 19.2px "Roboto", sans-serif;
  --body-m-font: 400 18px "Roboto", sans-serif;
  --body-s-font: 400 14.72px "Roboto", sans-serif;
  --body-xs-font: 400 12.8px "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}
