:root {
  --primary-color: #242d38;
  --secondary-color: #304c70;
  --tertiary-color: #7598C4;
  --accent-color: #e4871b;
  --neutral-color: #ECECF1;
  --neutral-color-dark:#49494F;
  --success-color:#338473;
  --error-color:#D25746; 
  --heading-l-font: 700 22.4px 'Roboto', sans-serif ;
  --heading-m-font: 700 17.6px 'Roboto', sans-serif ;
  --heading-s-font: 700 16px 'Roboto', sans-serif ;
  --body-l-font: 300 19.2px 'Roboto', sans-serif ;
  --body-m-font: 400 18px 'Roboto', sans-serif ;
  --body-s-font: 400 14.72px 'Roboto', sans-serif ;
  --body-s-font: 400 12.8px 'Roboto', sans-serif ;
}

body{
  font-family: 'Roboto', sans-serif;
}

.layout {
  display: grid;
  grid-template-areas:
    "sidebar topbar topbar"
    "sidebar filter widget"
    "sidebar main widget";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  @media screen and (max-width: 1080px) {
    grid-template-areas:
      "sidebar sidebar sidebar"
      "topbar topbar topbar"
      "filter filter filter"
      "main main main"
      "widget widget widget";

    height: 100%;
    overflow-y: scroll;
  }

  .sidebar {
    grid-area: sidebar;
    background-color: #ffebcc; /* light yellow */
    padding: 10px;
  }

  .topbar {
    grid-area: topbar;
    background-color: #cce5ff; /* light blue */
    padding: 10px;
  }

  .filter {
    grid-area: filter;
    background-color: #d5f5e3; /* light green */
    padding: 10px;
  }

  .main {
    grid-area: main;
    background-color: #f9eaf7; /* light pink */
    height: 100%;
    overflow-y: scroll;

    .content {
      height: 100vh;
    }
  }

  .widget {
    grid-area: widget;
    background-color: #e8eaf6; /* light purple */
    padding: 10px;
    width: 100%;
  }
}